.cron-expr__view-mode {
    font-size: 13px;
    color: #999;
    padding: 5px 0;
}

.cron-expr__view-mode_link {
    display: inline-block;
}

.cron-expr__view-mode_link:hover {
    text-decoration: none;
}

.cron-expr__view-mode_link i {
    font-size: 12px;
    vertical-align: middle;
}

.cron-expr__user-friendly {
    padding: 5px 0;
}

select.cron-expression-select {
    display: inline-block;
    width: auto;
}